@keyframes size300x250-button-pulse {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(1.1);
  }
  8% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.1);
  }
  17% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes size300x250-chleba-intro {
  0% {
    transform: translate(-17px, 59px);
  }
  20% {
    transform: translate(-17px, 59px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-chleba-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-3px, 2px);
  }
  37.5% {
    transform: translate(-6px, 1px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-6px, -1px);
  }
  75% {
    transform: translate(-3px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-okurka-intro {
  0% {
    transform: translate(-21px, 85px);
  }
  20% {
    transform: translate(-21px, 85px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-okurka-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-rajce-intro {
  0% {
    transform: translate(-34px, 71px);
  }
  20% {
    transform: translate(-34px, 71px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-rajce-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-syr-intro {
  0% {
    transform: translate(-106px, 29px) scale(0.5);
  }
  10% {
    transform: translate(-96px, 22px) scale(0.5);
  }
  20% {
    transform: translate(-85px, 14px) scale(0.5);
  }
  30% {
    transform: translate(-74px, 8px) scale(0.571);
  }
  40% {
    transform: translate(-64px, 3px) scale(0.643);
  }
  50% {
    transform: translate(-53px, 0px) scale(0.714);
  }
  60% {
    transform: translate(-43px, -2px) scale(0.786);
  }
  70% {
    transform: translate(-32px, -3px) scale(0.857);
  }
  80% {
    transform: translate(-21px, -3px) scale(0.929);
  }
  90% {
    transform: translate(-11px, -2px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x250-syr-loop {
  0% {
    transform: translate(0, 0) scale(1);
  }
  12.5% {
    transform: translate(-1px, 3px) scale(1);
  }
  25% {
    transform: translate(-4px, 4px) scale(1);
  }
  37.5% {
    transform: translate(-6px, 3px) scale(1);
  }
  50% {
    transform: translate(-8px, 0) scale(1);
  }
  62.5% {
    transform: translate(-6px, -3px) scale(1);
  }
  75% {
    transform: translate(-4px, -4px) scale(1);
  }
  87.5% {
    transform: translate(-1px, -3px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x250-voda-intro {
  0% {
    transform: translate(-31px, 85px) scale(0.5);
  }
  20% {
    transform: translate(-31px, 85px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x250-voda-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x250-drobky-intro {
  0% {
    transform: translate(-31px, 85px) scale(0.5);
  }
  20% {
    transform: translate(-31px, 85px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x250-drobky-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-button-pulse {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(1.1);
  }
  8% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.1);
  }
  17% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes size300x300-chleba-intro {
  0% {
    transform: translate(9px, 78px);
  }
  20% {
    transform: translate(9px, 78px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-chleba-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-3px, 2px);
  }
  37.5% {
    transform: translate(-6px, 1px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-6px, -1px);
  }
  75% {
    transform: translate(-3px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-okurka-intro {
  0% {
    transform: translate(-6px, 104px);
  }
  20% {
    transform: translate(-6px, 104px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-okurka-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-rajce-intro {
  0% {
    transform: translate(-18px, 89px);
  }
  20% {
    transform: translate(-18px, 89px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-rajce-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-syr-intro {
  0% {
    transform: translate(-106px, 19px) scale(0.5);
  }
  10% {
    transform: translate(-96px, 13px) scale(0.5);
  }
  20% {
    transform: translate(-85px, 6px) scale(0.5);
  }
  30% {
    transform: translate(-74px, 1px) scale(0.571);
  }
  40% {
    transform: translate(-64px, -3px) scale(0.643);
  }
  50% {
    transform: translate(-53px, -5px) scale(0.714);
  }
  60% {
    transform: translate(-43px, -6px) scale(0.786);
  }
  70% {
    transform: translate(-32px, -6px) scale(0.857);
  }
  80% {
    transform: translate(-21px, -5px) scale(0.929);
  }
  90% {
    transform: translate(-11px, -3px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x300-syr-loop {
  0% {
    transform: translate(0, 0) scale(1);
  }
  12.5% {
    transform: translate(-1px, 3px) scale(1);
  }
  25% {
    transform: translate(-4px, 4px) scale(1);
  }
  37.5% {
    transform: translate(-6px, 3px) scale(1);
  }
  50% {
    transform: translate(-8px, 0) scale(1);
  }
  62.5% {
    transform: translate(-6px, -3px) scale(1);
  }
  75% {
    transform: translate(-4px, -4px) scale(1);
  }
  87.5% {
    transform: translate(-1px, -3px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x300-voda-intro {
  0% {
    transform: translate(-6px, 104px) scale(0.5);
  }
  20% {
    transform: translate(-6px, 104px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x300-voda-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x300-drobky-intro {
  0% {
    transform: translate(-6px, 104px) scale(0.5);
  }
  20% {
    transform: translate(-6px, 104px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x300-drobky-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-button-pulse {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(1.1);
  }
  8% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.1);
  }
  17% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes size300x600-chleba-intro {
  0% {
    transform: translate(0, 121.9375px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-chleba-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-3px, 2px);
  }
  37.5% {
    transform: translate(-6px, 1px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-6px, -1px);
  }
  75% {
    transform: translate(-3px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-okurka-intro {
  0% {
    transform: translate(-20px, 195.6875px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-okurka-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-rajce-intro {
  0% {
    transform: translate(0, 157.25px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-rajce-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-syr-intro {
  0% {
    transform: translate(0, 233.75px) scale(0.5);
  }
  10% {
    transform: translate(-11.2px, 189.34px) scale(0.595);
  }
  20% {
    transform: translate(-18.1px, 149.6px) scale(0.68);
  }
  30% {
    transform: translate(-20px, 114.54px) scale(0.755);
  }
  40% {
    transform: translate(-18.1px, 84.15px) scale(0.82);
  }
  50% {
    transform: translate(-14.14px, 58.44px) scale(0.875);
  }
  60% {
    transform: translate(-9.6px, 37.4px) scale(0.92);
  }
  70% {
    transform: translate(-5.6px, 21.04px) scale(0.955);
  }
  80% {
    transform: translate(-2.5px, 9.35px) scale(0.98);
  }
  90% {
    transform: translate(-0.6px, 2.34px) scale(0.995);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x600-syr-loop {
  0% {
    transform: translate(0, 0) scale(1);
  }
  12.5% {
    transform: translate(-1px, 3px) scale(1);
  }
  25% {
    transform: translate(-4px, 4px) scale(1);
  }
  37.5% {
    transform: translate(-6px, 3px) scale(1);
  }
  50% {
    transform: translate(-8px, 0) scale(1);
  }
  62.5% {
    transform: translate(-6px, -3px) scale(1);
  }
  75% {
    transform: translate(-4px, -4px) scale(1);
  }
  87.5% {
    transform: translate(-1px, -3px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x600-voda-intro {
  0% {
    transform: translate(0, 155.6875px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x600-voda-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size300x600-drobky-intro {
  0% {
    transform: translate(0, 171px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size300x600-drobky-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 1px);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  37.5% {
    transform: translate(-3px, 1px);
  }
  50% {
    transform: translate(-4px, 0);
  }
  62.5% {
    transform: translate(-3px, -1px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  87.5% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-button-pulse {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(1.1);
  }
  8% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.1);
  }
  17% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes size480x300-chleba-intro {
  0% {
    transform: translate(-27px, 78px);
  }
  20% {
    transform: translate(-27px, 78px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-chleba-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-5px, 3px);
  }
  37.5% {
    transform: translate(-9px, 2px);
  }
  50% {
    transform: translate(-10px, 0);
  }
  62.5% {
    transform: translate(-9px, -2px);
  }
  75% {
    transform: translate(-5px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-okurka-intro {
  0% {
    transform: translate(-50px, 120px);
  }
  20% {
    transform: translate(-50px, 120px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-okurka-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-rajce-intro {
  0% {
    transform: translate(-70px, 97px);
  }
  20% {
    transform: translate(-70px, 97px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-rajce-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-syr-intro {
  0% {
    transform: translate(-170px, 30px) scale(0.5);
  }
  10% {
    transform: translate(-153px, 20px) scale(0.5);
  }
  20% {
    transform: translate(-136px, 10px) scale(0.5);
  }
  30% {
    transform: translate(-119px, 2px) scale(0.571);
  }
  40% {
    transform: translate(-102px, -4px) scale(0.643);
  }
  50% {
    transform: translate(-85px, -8px) scale(0.714);
  }
  60% {
    transform: translate(-68px, -10px) scale(0.786);
  }
  70% {
    transform: translate(-51px, -10px) scale(0.857);
  }
  80% {
    transform: translate(-34px, -8px) scale(0.929);
  }
  90% {
    transform: translate(-17px, -4px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x300-syr-loop {
  0% {
    transform: translate(0, 0) scale(1);
  }
  12.5% {
    transform: translate(-2px, 4px) scale(1);
  }
  25% {
    transform: translate(-6px, 6px) scale(1);
  }
  37.5% {
    transform: translate(-10px, 4px) scale(1);
  }
  50% {
    transform: translate(-12px, 0) scale(1);
  }
  62.5% {
    transform: translate(-10px, -4px) scale(1);
  }
  75% {
    transform: translate(-6px, -6px) scale(1);
  }
  87.5% {
    transform: translate(-2px, -4px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x300-voda-intro {
  0% {
    transform: translate(-50px, 120px) scale(0.5);
  }
  20% {
    transform: translate(-50px, 120px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x300-voda-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x300-drobky-intro {
  0% {
    transform: translate(-50px, 120px) scale(0.5);
  }
  20% {
    transform: translate(-50px, 120px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x300-drobky-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-button-pulse {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(1.1);
  }
  8% {
    transform: scale(1);
  }
  12% {
    transform: scale(1.1);
  }
  17% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes size480x480-chleba-intro {
  0% {
    transform: translate(14px, 124px);
  }
  20% {
    transform: translate(14px, 124px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-chleba-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-5px, 3px);
  }
  37.5% {
    transform: translate(-9px, 2px);
  }
  50% {
    transform: translate(-10px, 0);
  }
  62.5% {
    transform: translate(-9px, -2px);
  }
  75% {
    transform: translate(-5px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-okurka-intro {
  0% {
    transform: translate(-9px, 166px);
  }
  20% {
    transform: translate(-9px, 166px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-okurka-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-rajce-intro {
  0% {
    transform: translate(-29px, 143px);
  }
  20% {
    transform: translate(-29px, 143px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-rajce-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-syr-intro {
  0% {
    transform: translate(-170px, 30px) scale(0.5);
  }
  10% {
    transform: translate(-153px, 20px) scale(0.5);
  }
  20% {
    transform: translate(-136px, 10px) scale(0.5);
  }
  30% {
    transform: translate(-119px, 2px) scale(0.571);
  }
  40% {
    transform: translate(-102px, -4px) scale(0.643);
  }
  50% {
    transform: translate(-85px, -8px) scale(0.714);
  }
  60% {
    transform: translate(-68px, -10px) scale(0.786);
  }
  70% {
    transform: translate(-51px, -10px) scale(0.857);
  }
  80% {
    transform: translate(-34px, -8px) scale(0.929);
  }
  90% {
    transform: translate(-17px, -4px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x480-syr-loop {
  0% {
    transform: translate(0, 0) scale(1);
  }
  12.5% {
    transform: translate(-2px, 4px) scale(1);
  }
  25% {
    transform: translate(-6px, 6px) scale(1);
  }
  37.5% {
    transform: translate(-10px, 4px) scale(1);
  }
  50% {
    transform: translate(-12px, 0) scale(1);
  }
  62.5% {
    transform: translate(-10px, -4px) scale(1);
  }
  75% {
    transform: translate(-6px, -6px) scale(1);
  }
  87.5% {
    transform: translate(-2px, -4px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x480-voda-intro {
  0% {
    transform: translate(-9px, 166px) scale(0.5);
  }
  20% {
    transform: translate(-9px, 166px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x480-voda-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes size480x480-drobky-intro {
  0% {
    transform: translate(-9px, 166px) scale(0.5);
  }
  20% {
    transform: translate(-9px, 166px) scale(0.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes size480x480-drobky-loop {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(-1px, 2px);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  37.5% {
    transform: translate(-5px, 2px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  62.5% {
    transform: translate(-5px, -2px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  87.5% {
    transform: translate(-1px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.size300x600 .product {
  width: 209px;
  height: 217px;
  bottom: 45.5px;
  left: 45.5px;
}
.size300x600.plain .product {
  background-image: url("./assets/300x600/product-plain.png");
}
.size300x600.sunka .product {
  background-image: url("./assets/300x600/product-sunka.png");
}
.size300x600.emental .product {
  background-image: url("./assets/300x600/product-emental.png");
}
.size300x250 .product {
  width: 111.3px;
  height: 117.6px;
  bottom: 10px;
  left: 15px;
}
.size300x250.plain .product {
  background-image: url("./assets/300x250/product-plain.png");
  width: 113.4px;
  height: 119.7px;
}
.size300x250.sunka .product {
  background-image: url("./assets/300x250/product-sunka.png");
}
.size300x250.emental .product {
  background-image: url("./assets/300x250/product-emental.png");
}
.size300x300 .product {
  width: 130.625px;
  height: 135.625px;
  bottom: 13.125px;
  left: 20px;
}
.size300x300.plain .product {
  background-image: url("./assets/300x300/product-plain.png");
}
.size300x300.sunka .product {
  background-image: url("./assets/300x300/product-sunka.png");
}
.size300x300.emental .product {
  background-image: url("./assets/300x300/product-emental.png");
}
.size480x300 .product {
  width: 159px;
  height: 168px;
  bottom: 9px;
  left: 28px;
}
.size480x300.plain .product {
  background-image: url("./assets/480x300/product-plain.png");
  width: 162px;
  height: 171px;
}
.size480x300.sunka .product {
  background-image: url("./assets/480x300/product-sunka.png");
}
.size480x300.emental .product {
  background-image: url("./assets/480x300/product-emental.png");
}
.size480x480 .product {
  width: 209px;
  height: 217px;
  bottom: 21px;
  left: 32px;
}
.size480x480.plain .product {
  background-image: url("./assets/480x480/product-plain.png");
}
.size480x480.sunka .product {
  background-image: url("./assets/480x480/product-sunka.png");
}
.size480x480.emental .product {
  background-image: url("./assets/480x480/product-emental.png");
}

.size300x600 .snackuj {
  width: 216.25px;
  height: 139.8px;
  top: 15.625px;
  left: 41.875px;
  rotate: -5deg;
}
.size300x600.plain .snackuj {
  background-image: url("./assets/300x600/snackuj-plain.png");
}
.size300x600.sunka .snackuj {
  background-image: url("./assets/300x600/snackuj-sunka.png");
}
.size300x600.emental .snackuj {
  background-image: url("./assets/300x600/snackuj-emental.png");
}
.size300x250 .snackuj {
  width: 196px;
  height: 126.4px;
  top: 15.625px;
  right: 16.875px;
}
.size300x250.plain .snackuj {
  background-image: url("./assets/300x250/snackuj-plain.png");
}
.size300x250.sunka .snackuj {
  background-image: url("./assets/300x250/snackuj-sunka.png");
}
.size300x250.emental .snackuj {
  background-image: url("./assets/300x250/snackuj-emental.png");
}
.size300x300 .snackuj {
  width: 196.25px;
  height: 126.875px;
  top: 15.625px;
  right: 16.875px;
}
.size300x300.plain .snackuj {
  background-image: url("./assets/300x300/snackuj-plain.png");
}
.size300x300.sunka .snackuj {
  background-image: url("./assets/300x300/snackuj-sunka.png");
}
.size300x300.emental .snackuj {
  background-image: url("./assets/300x300/snackuj-emental.png");
}
.size480x300 .snackuj {
  width: 245px;
  height: 158px;
  top: 15px;
  right: 21px;
}
.size480x300.plain .snackuj {
  background-image: url("./assets/480x300/snackuj-plain.png");
}
.size480x300.sunka .snackuj {
  background-image: url("./assets/480x300/snackuj-sunka.png");
}
.size480x300.emental .snackuj {
  background-image: url("./assets/480x300/snackuj-emental.png");
}
.size480x480 .snackuj {
  width: 314px;
  height: 203px;
  top: 25px;
  right: 27px;
}
.size480x480.plain .snackuj {
  background-image: url("./assets/480x480/snackuj-plain.png");
}
.size480x480.sunka .snackuj {
  background-image: url("./assets/480x480/snackuj-sunka.png");
}
.size480x480.emental .snackuj {
  background-image: url("./assets/480x480/snackuj-emental.png");
}

.button, .chleba, .okurka, .rajce, .syr, .voda, .drobky {
  transform-origin: center;
  will-change: transform;
  backface-visibility: hidden;
}

.size300x600 .button {
  display: none;
}
.size300x250 .button {
  width: 115px;
  height: 26.875px;
  bottom: 19.375px;
  right: 20px;
  background-image: url("./assets/300x250/button.png");
  animation: size300x250-button-pulse 6.5s ease-in-out 4s infinite;
}
.size300x300 .button {
  width: 115px;
  height: 26.875px;
  top: 253.75px;
  right: 20px;
  background-image: url("./assets/300x300/button.png");
  animation: size300x300-button-pulse 6.5s ease-in-out 4s infinite;
}
.size480x300 .button {
  width: 142px;
  height: 34px;
  top: 241px;
  right: 24px;
  background-image: url("./assets/480x300/button.png");
  animation: size480x300-button-pulse 6.5s ease-in-out 4s infinite;
}
.size480x480 .button {
  width: 184px;
  height: 43px;
  top: 406px;
  right: 32px;
  background-image: url("./assets/480x480/button.png");
  animation: size480x480-button-pulse 6.5s ease-in-out 4s infinite;
}

.size300x600 .chleba {
  width: 101.875px;
  height: 76.875px;
  top: 285.625px;
  left: 99.0625px;
  background-image: url("./assets/300x600/chleba.png");
  animation: size300x600-chleba-intro 1.4s ease-out forwards, size300x600-chleba-loop 3.5s 1.4s linear infinite;
}
.size300x250 .chleba {
  width: 78.75px;
  height: 60px;
  top: 88.75px;
  right: 179.375px;
  background-image: url("./assets/300x250/chleba.png");
  animation: size300x250-chleba-intro 1.4s ease-out forwards, size300x250-chleba-loop 3.5s 1.4s linear infinite;
}
.size300x300 .chleba {
  width: 101.875px;
  height: 76.875px;
  top: 115.625px;
  right: 172.5px;
  background-image: url("./assets/300x300/chleba.png");
  animation: size300x300-chleba-intro 1.7s ease-out forwards, size300x300-chleba-loop 3.5s 1.7s linear infinite;
}
.size480x300 .chleba {
  width: 126px;
  height: 96px;
  top: 92px;
  right: 287px;
  background-image: url("./assets/480x300/chleba.png");
  animation: size480x300-chleba-intro 1.4s ease-out forwards, size480x300-chleba-loop 3.5s 1.4s linear infinite;
}
.size480x480 .chleba {
  width: 163px;
  height: 123px;
  top: 185px;
  right: 276px;
  background-image: url("./assets/480x480/chleba.png");
  animation: size480x480-chleba-intro 1.7s ease-out forwards, size480x480-chleba-loop 3.5s 1.7s linear infinite;
}

.size300x600 .okurka {
  width: 69.375px;
  height: 68.125px;
  top: 216.25px;
  left: 115.3125px;
  rotate: -20deg;
  background-image: url("./assets/300x600/okurka.png");
  animation: size300x600-okurka-intro 1.2s ease-out forwards, size300x600-okurka-loop 2.6s 1.2s linear infinite;
}
.size300x250 .okurka {
  width: 56.875px;
  height: 50.625px;
  top: 44.375px;
  right: 180.625px;
  background-image: url("./assets/300x250/okurka.png");
  animation: size300x250-okurka-intro 1s ease-out forwards, size300x250-okurka-loop 2.6s 1s linear infinite;
}
.size300x300 .okurka {
  width: 69.375px;
  height: 68.125px;
  top: 56.25px;
  right: 164.375px;
  background-image: url("./assets/300x300/okurka.png");
  animation: size300x300-okurka-intro 1s ease-out forwards, size300x300-okurka-loop 2.6s 1s linear infinite;
}
.size480x300 .okurka {
  width: 91px;
  height: 81px;
  top: 21px;
  right: 273px;
  background-image: url("./assets/480x300/okurka.png");
  animation: size480x300-okurka-intro 1s ease-out forwards, size480x300-okurka-loop 2.6s 1s linear infinite;
}
.size480x480 .okurka {
  width: 111px;
  height: 109px;
  top: 90px;
  right: 263px;
  background-image: url("./assets/480x480/okurka.png");
  animation: size480x480-okurka-intro 1s ease-out forwards, size480x480-okurka-loop 2.6s 1s linear infinite;
}

.size300x600 .rajce {
  width: 84.375px;
  height: 53.75px;
  top: 261.875px;
  left: 107.8125px;
  rotate: -10deg;
  background-image: url("./assets/300x600/rajce.png");
  animation: size300x600-rajce-intro 1.3s ease-out forwards, size300x600-rajce-loop 2.9s 1.3s linear infinite;
}
.size300x250 .rajce {
  width: 65px;
  height: 41.875px;
  top: 76.875px;
  right: 176.25px;
  background-image: url("./assets/300x250/rajce.png");
  animation: size300x250-rajce-intro 1.2s ease-out forwards, size300x250-rajce-loop 2.9s 1.2s linear infinite;
}
.size300x300 .rajce {
  width: 84.375px;
  height: 53.75px;
  top: 101.875px;
  right: 156.875px;
  background-image: url("./assets/300x300/rajce.png");
  animation: size300x300-rajce-intro 1.2s ease-out forwards, size300x300-rajce-loop 2.9s 1.2s linear infinite;
}
.size480x300 .rajce {
  width: 104px;
  height: 67px;
  top: 73px;
  right: 266px;
  background-image: url("./assets/480x300/rajce.png");
  animation: size480x300-rajce-intro 1.2s ease-out forwards, size480x300-rajce-loop 2.9s 1.2s linear infinite;
}
.size480x480 .rajce {
  width: 135px;
  height: 86px;
  top: 163px;
  right: 251px;
  background-image: url("./assets/480x480/rajce.png");
  animation: size480x480-rajce-intro 1.2s ease-out forwards, size480x480-rajce-loop 2.9s 1.2s linear infinite;
}

.size300x600 .syr {
  width: 101.0625px;
  height: 104.5px;
  top: 130px;
  left: 99.46875px;
  animation: size300x600-syr-intro 1.1s linear forwards, size300x600-syr-loop 3.2s 1.1s linear infinite;
}
.size300x600.plain .syr {
  background-image: url("./assets/300x600/syr-plain.png");
}
.size300x600.sunka .syr {
  background-image: url("./assets/300x600/syr-sunka.png");
}
.size300x600.emental .syr {
  background-image: url("./assets/300x600/syr-emental.png");
}
.size300x250 .syr {
  width: 82.6px;
  height: 81.2px;
  top: 118px;
  right: 59px;
  animation: size300x250-syr-intro 1.5s linear forwards, size300x250-syr-loop 3.2s 1.5s linear infinite;
}
.size300x250.plain .syr {
  background-image: url("./assets/300x250/syr-plain.png");
}
.size300x250.sunka .syr {
  background-image: url("./assets/300x250/syr-sunka.png");
}
.size300x250.emental .syr {
  background-image: url("./assets/300x250/syr-emental.png");
}
.size300x300 .syr {
  width: 91.875px;
  height: 95px;
  top: 145.625px;
  right: 43.125px;
  animation: size300x300-syr-intro 1.5s linear forwards, size300x300-syr-loop 3.2s 1.5s linear infinite;
}
.size300x300.plain .syr {
  background-image: url("./assets/300x300/syr-plain.png");
}
.size300x300.sunka .syr {
  background-image: url("./assets/300x300/syr-sunka.png");
}
.size300x300.emental .syr {
  background-image: url("./assets/300x300/syr-emental.png");
}
.size480x300 .syr {
  width: 118px;
  height: 116px;
  top: 117px;
  right: 128px;
  animation: size480x300-syr-intro 1.5s linear forwards, size480x300-syr-loop 3.2s 1.5s linear infinite;
}
.size480x300.plain .syr {
  background-image: url("./assets/480x300/syr-plain.png");
}
.size480x300.sunka .syr {
  background-image: url("./assets/480x300/syr-sunka.png");
}
.size480x300.emental .syr {
  background-image: url("./assets/480x300/syr-emental.png");
}
.size480x480 .syr {
  width: 147px;
  height: 152px;
  top: 233px;
  right: 69px;
  animation: size480x480-syr-intro 1.5s linear forwards, size480x480-syr-loop 3.2s 1.5s linear infinite;
}
.size480x480.plain .syr {
  background-image: url("./assets/480x480/syr-plain.png");
}
.size480x480.sunka .syr {
  background-image: url("./assets/480x480/syr-sunka.png");
}
.size480x480.emental .syr {
  background-image: url("./assets/480x480/syr-emental.png");
}

.size300x600 .voda {
  width: 138.75px;
  height: 118.125px;
  top: 231.25px;
  left: 80.625px;
  background-image: url("./assets/300x600/voda.png");
  animation: size300x600-voda-intro 1.5s ease-out forwards, size300x600-voda-loop 3.1s 1.5s linear infinite;
}
.size300x250 .voda {
  width: 106.875px;
  height: 91.25px;
  top: 57.5px;
  right: 164.375px;
  background-image: url("./assets/300x250/voda.png");
  animation: size300x250-voda-intro 1.9s ease-out forwards, size300x250-voda-loop 3.1s 1.9s linear infinite;
}
.size300x300 .voda {
  width: 138.75px;
  height: 118.125px;
  top: 71.25px;
  right: 134.375px;
  background-image: url("./assets/300x300/voda.png");
  animation: size300x300-voda-intro 1.9s ease-out forwards, size300x300-voda-loop 3.1s 1.9s linear infinite;
}
.size480x300 .voda {
  width: 171px;
  height: 146px;
  top: 42px;
  right: 247px;
  background-image: url("./assets/480x300/voda.png");
  animation: size480x300-voda-intro 1.9s ease-out forwards, size480x300-voda-loop 3.1s 1.9s linear infinite;
}
.size480x480 .voda {
  width: 222px;
  height: 189px;
  top: 114px;
  right: 215px;
  background-image: url("./assets/480x480/voda.png");
  animation: size480x480-voda-intro 1.9s ease-out forwards, size480x480-voda-loop 3.1s 1.9s linear infinite;
}

.size300x600 .drobky {
  width: 170px;
  height: 115px;
  top: 217.5px;
  left: 65px;
  background-image: url("./assets/300x600/drobky.png");
  animation: size300x600-drobky-intro 1.5s ease-out forwards, size300x600-drobky-loop 3.7s 1.5s linear infinite;
}
.size300x250 .drobky {
  width: 140.625px;
  height: 88.75px;
  top: 50px;
  right: 142.5px;
  background-image: url("./assets/300x250/drobky.png");
  animation: size300x250-drobky-intro 2.1s ease-out forwards, size300x250-drobky-loop 3.7s 2.1s linear infinite;
}
.size300x300 .drobky {
  width: 170px;
  height: 115px;
  top: 57.5px;
  right: 108.125px;
  background-image: url("./assets/300x300/drobky.png");
  animation: size300x300-drobky-intro 2.1s ease-out forwards, size300x300-drobky-loop 3.7s 2.1s linear infinite;
}
.size480x300 .drobky {
  width: 225px;
  height: 142px;
  top: 30px;
  right: 212px;
  background-image: url("./assets/480x300/drobky.png");
  animation: size480x300-drobky-intro 2.1s ease-out forwards, size480x300-drobky-loop 3.7s 2.1s linear infinite;
}
.size480x480 .drobky {
  width: 272px;
  height: 184px;
  top: 92px;
  right: 173px;
  background-image: url("./assets/480x480/drobky.png");
  animation: size480x480-drobky-intro 2.1s ease-out forwards, size480x480-drobky-loop 3.7s 2.1s linear infinite;
}

#banner {
  position: relative;
}
.size300x600 #banner {
  width: 300px;
  height: 600px;
}
.size300x600.plain #banner {
  background: #82bdf0;
  background: radial-gradient(circle 300px at 50% 50%, #f1f0e7 0%, #82bdf0 100%);
}
.size300x600.sunka #banner {
  background: #f3b1c0;
  background: radial-gradient(circle 300px at 50% 50%, #f1f0e7 0%, #f3b1c0 100%);
}
.size300x600.emental #banner {
  background: #f1c67f;
  background: radial-gradient(circle 300px at 50% 50%, #f1f0e7 0%, #f1c67f 100%);
}
.size300x250 #banner {
  width: 300px;
  height: 250px;
}
.size300x250.plain #banner {
  background: #a7d0f3;
  background: radial-gradient(circle 147.5px at 47.4% 50.5%, #f1f0e7 0%, #a7d0f3 100%);
}
.size300x250.sunka #banner {
  background: #f2a4b9;
  background: radial-gradient(circle 147.5px at 47.4% 50.5%, #f1f0e7 0%, #f2a4b9 100%);
}
.size300x250.emental #banner {
  background: #f0be6b;
  background: radial-gradient(circle 147.5px at 47.4% 50.5%, #f1f0e7 0%, #f0be6b 100%);
}
.size300x300 #banner {
  width: 300px;
  height: 300px;
}
.size300x300.plain #banner {
  background: #82bdf0;
  background: radial-gradient(circle 306px at 51.6% 45%, #f1f0e7 0%, #82bdf0 100%);
}
.size300x300.sunka #banner {
  background: #f3b1c0;
  background: radial-gradient(circle 306px at 51.6% 45%, #f1f0e7 0%, #f3b1c0 100%);
}
.size300x300.emental #banner {
  background: #f1c67f;
  background: radial-gradient(circle 306px at 51.6% 45%, #f1f0e7 0%, #f1c67f 100%);
}
.size480x300 #banner {
  width: 480px;
  height: 300px;
}
.size480x300.plain #banner {
  background: #a7d0f3;
  background: radial-gradient(circle 236px at 47.4% 50.5%, #f1f0e7 0%, #a7d0f3 100%);
}
.size480x300.sunka #banner {
  background: #f2a4b9;
  background: radial-gradient(circle 236px at 47.4% 50.5%, #f1f0e7 0%, #f2a4b9 100%);
}
.size480x300.emental #banner {
  background: #f0be6b;
  background: radial-gradient(circle 236px at 47.4% 50.5%, #f1f0e7 0%, #f0be6b 100%);
}
.size480x480 #banner {
  width: 480px;
  height: 480px;
}
.size480x480.plain #banner {
  background: #82bdf0;
  background: radial-gradient(circle 490px at 51.6% 45%, #f1f0e7 0%, #82bdf0 100%);
}
.size480x480.sunka #banner {
  background: #f3b1c0;
  background: radial-gradient(circle 490px at 51.6% 45%, #f1f0e7 0%, #f3b1c0 100%);
}
.size480x480.emental #banner {
  background: #f1c67f;
  background: radial-gradient(circle 490px at 51.6% 45%, #f1f0e7 0%, #f1c67f 100%);
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
