@keyframes size300x300-button-pulse {
    0% {
        transform: scale(1);
    }
    4% {
        transform: scale(1.1);
    }
    8% {
        transform: scale(1);
    }
    12% {
        transform: scale(1.1);
    }
    17% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes size300x300-chleba-intro {
    0% {
        transform: translate(9px, 78px);
    }
    20% {
        transform: translate(9px, 78px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-chleba-loop {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-3px, 2px);
    }
    37.5% {
        transform: translate(-6px, 1px);
    }
    50% {
        transform: translate(-6px, 0);
    }
    62.5% {
        transform: translate(-6px, -1px);
    }
    75% {
        transform: translate(-3px, -2px);
    }
    87.5% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-okurka-intro {
    0% {
        transform: translate(-6px, 104px);
    }
    20% {
        transform: translate(-6px, 104px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-okurka-loop {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    37.5% {
        transform: translate(-3px, 1px);
    }
    50% {
        transform: translate(-4px, 0);
    }
    62.5% {
        transform: translate(-3px, -1px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    87.5% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-rajce-intro {
    0% {
        transform: translate(-18px, 89px);
    }
    20% {
        transform: translate(-18px, 89px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-rajce-loop {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    37.5% {
        transform: translate(-3px, 1px);
    }
    50% {
        transform: translate(-4px, 0);
    }
    62.5% {
        transform: translate(-3px, -1px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    87.5% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-syr-intro {
    0% {
        transform: translate(-106px, 19px) scale(0.5);
    }
    10% {
        transform: translate(-96px, 13px) scale(0.5);
    }
    20% {
        transform: translate(-85px, 6px) scale(0.5);
    }
    30% {
        transform: translate(-74px, 1px) scale(0.571);
    }
    40% {
        transform: translate(-64px, -3px) scale(0.643);
    }
    50% {
        transform: translate(-53px, -5px) scale(0.714);
    }
    60% {
        transform: translate(-43px, -6px) scale(0.786);
    }
    70% {
        transform: translate(-32px, -6px) scale(0.857);
    }
    80% {
        transform: translate(-21px, -5px) scale(0.929);
    }
    90% {
        transform: translate(-11px, -3px) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes size300x300-syr-loop {
    0% {
        transform: translate(0, 0) scale(1);
    }
    12.5% {
        transform: translate(-1px, 3px) scale(1);
    }
    25% {
        transform: translate(-4px, 4px) scale(1);
    }
    37.5% {
        transform: translate(-6px, 3px) scale(1);
    }
    50% {
        transform: translate(-8px, 0) scale(1);
    }
    62.5% {
        transform: translate(-6px, -3px) scale(1);
    }
    75% {
        transform: translate(-4px, -4px) scale(1);
    }
    87.5% {
        transform: translate(-1px, -3px) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes size300x300-voda-intro {
    0% {
        transform: translate(-6px, 104px) scale(0.5);
    }
    20% {
        transform: translate(-6px, 104px) scale(0.5);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes size300x300-voda-loop {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    37.5% {
        transform: translate(-3px, 1px);
    }
    50% {
        transform: translate(-4px, 0);
    }
    62.5% {
        transform: translate(-3px, -1px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    87.5% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes size300x300-drobky-intro {
    0% {
        transform: translate(-6px, 104px) scale(0.5);
    }
    20% {
        transform: translate(-6px, 104px) scale(0.5);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes size300x300-drobky-loop {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, 2px);
    }
    37.5% {
        transform: translate(-3px, 1px);
    }
    50% {
        transform: translate(-4px, 0);
    }
    62.5% {
        transform: translate(-3px, -1px);
    }
    75% {
        transform: translate(-2px, -2px);
    }
    87.5% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}
